<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Which Office Character Are You?</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
  <!-- Header -->
        <h1>Which Office Character Have You Become During COVID?</h1>
        <p class = 'intro'>Answer the following questions to determine which character from The Office you are.</p>
        <form method = 'post' action = '/results' name = 'sorting'>
          <fieldset>
            <legend>What is your name?</legend>
            <p>
              <input type ='text' name = 'name'>
              <label for 'name'></label>
            </p>
          </fieldset>
          <fieldset>
            <legend>What quarantine activity have you taken up?</legend>
            <p>
              <!-- MICHAEL -->
              <input type='radio' name='activity' value = '1'>
              <label for="activity">hosting Zoom parties</label>
            </p>
            <p>
              <!-- DWIGHT -->
              <input type="radio" name="activity" value ='3'>
              <label for="activity">starting a homemade mask business</label>
            </p>
            <p>
              <!-- JIM -->
              <input type="radio" name="activity" value = '4'>
              <label for="activity">mentoring K-pop stans on effective pranking</label>
            </p>
            <p>
              <!-- PAM -->
              <input type="radio" name="activity" value = '2'>
              <label for="activity">digital animation</label>
            </p>
                        <p>
              <!-- KELLY -->
              <input type="radio" name="activity" value = '5'>
              <label for="activity">making Tik-Toks with my partner </label>
            </p>
          </fieldset>
          <fieldset>
            <legend>What activity do you miss most about pre-quarantine life?</legend>
            <p>
              <!-- KELLY -->
              <input type="radio" name="pre" value = 5>
              <label for="pre">shopping</label>
            </p>
            <p>
              <!-- JIM -->
              <input type="radio" name="pre" value = 4>
              <label for="pre">basketball</label>
            </p>
              <!-- DWIGHT -->
              <input type="radio" name="pre" value = 3>
              <label for="pre">laser tag</label>
            </p>
            <p>
              <!-- MICHAEL -->
              <input type="radio" name="pre" value = 1>
              <label for="pre">seeing work friends</label>
            </p>
            <p>
              <!-- PAM -->
              <input type="radio" name="pre" value = 2>
              <label for="pre">volleyball</label>
            </p>
            <p>
          </fieldset>
          <fieldset>
            <legend>What news has impacted you the most this year?</legend>
            <p>
              <!-- JIM -->
              <input type="radio" name="news" value = 4>
              <label for="news">COVID</label>
            </p>
            <p>
              <!-- KELLY -->
              <input type="radio" name="news" value = 5>
              <label for="news">Kobe and Gianna's helicopter crash</label>
            </p>
            <p>
              <!-- PAM -->
              <input type="radio" name="news" value = 2>
              <label for="news">George Floyd's murder</label>
            </p>
            <p>
              <!-- DWIGHT -->
              <input type="radio" name="news" value = 3>
              <label for="news">murder hornets</label>
            </p>
            <p>
              <!-- MICHAEL -->
              <input type="radio" name="news" value = 1>
              <label for="news">Fred Willard's death</label>
            </p>
          </fieldset>
          <fieldset>
            <legend>What's your favorite song right now?</legend>
            <p>
              <!-- PAM -->
              <input type="radio" name="song" value = 2>
              <label for="song">"Say So" by Doja Cat</label>
            </p>
            <p>
              <!-- JIM -->
              <input type="radio" name="song" value = 4>
              <label for="song">"Fire" by Waxahatchee</label>
            </p>
            <p>
              <!-- DWIGHT -->
              <input type="radio" name="song" value = 3>
              <label for="song">"Peace Sells" by Megadeth</label>
            </p>
            <p>
              <!-- MICHAEL -->
              <input type="radio" name="song" value = 1>
              <label for="song">"I Get Lonely" by Drake</label>
            </p>
            <p>
              <!-- KELLY -->
              <input type="radio" name="song" value = 5>
              <label for="song">"Savage" by Megan Thee Stallion and Beyonce</label>
            </p>
          </fieldset>
          <fieldset>
            <legend>What's your favorite TV series right now?</legend>
            <p>
              <!-- MICHAEL -->
              <input type="radio" name="series" value = 1>
              <label for="series">Tiger King</label>
            </p>
            <p>
              <!-- KELLY -->
              <input type="radio" name="series" value = 5>
              <label for="series">Celebrity Watch</label>
            </p>
            <p>
              <!-- JIM -->
              <input type="radio" name="series" value = 4>
              <label for="series">The Last Dance</label>
            </p>
            <p>
              <!-- DWIGHT -->
              <input type="radio" name="series" value = 3>
              <label for="series">The Witcher</label>
            </p>
            <p>
              <!-- PAM -->
              <input type="radio" name="series" value = 2>
              <label for="series">Bob Ross's Joy of Painting</label>
            </p>
          </fieldset>
          <input type = 'submit'>
        </form>
</body>

</html>
